{% extends 'base.hbs' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="containter">
    <div class="error">
        <h1>Błąd</h1>
        <div class="content">
            <p>Coś poszło nie tak</p>
            <a href="/" id="powrot" class="powrot" method="POST">Powrót</a>
        </div>
</div>  
{% endblock %}
