{% extends 'base.hbs' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="containter">
    <h1>Wprowadź współrzędne</h1>
    <div class="content">
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Szerokość geograficzna</th>
                <th>Długość geograficzna</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.szerokosc }}</td>
                    <td>{{ task.dlugosc }}</td>
                    <td>
                        <a href="/delete/{{ task.id }}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <div class="form">
                    <form action="/" method="POST">
                        <td class="update"><input type="text" name="name" id="name" placeholder="Podaj Nazwe Lokalizacji" ></td>
                        <td class="update"><input type="number" step="0.000001" name="szerokosc" id="szerokosc"  placeholder="Wprowadź szerokość"></td>
                        <td class="update"><input type="number" step="0.000001" name="dlugosc" id="dlugosc"  placeholder="Wprowadź długość"></td>
                        <td class="update"><input type="submit" name="submit" value="Wyślij"></td>
                    </form>
                </div>
            </tr>
        </table>
        <div class="submit">
            <a href="result" id="submit" class="submit" method="POST">Zatwierdź</a>
            <a href="delete" id="delete" class="delete" method="POST">Usuń Wszystko</a>
        </div>
    </div>
</div>
{% endblock %}
