{% extends 'base.hbs' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Długość geograficzna</th>
            <th>Szerokość geograficzna</th>
        </tr>
    {% for task in task %}
        <tr>
            <td>{{ task[0] }}</td>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="/" id="submit" class="submit" method="POST">Powrót</a>
</div>
{% endblock %}